<h1> Cohort Navigation </h1><br>
<%= link_to "Create New Cohort", new_cohort_path, class: "btn-lg btn-info" %><br><br><br>
<div class="cohort-images">
	<% @cohorts.each do |cohort| %>
		<div class="cohort-image">
			<%= link_to image_tag("#{cohort.photo.photo_url}"), cohort_path(cohort), alt: "#{cohort.name}", id: "#{cohort.id}" %>
		</div>
	<% end %>
</div>

