<h1>New Cohort</h1><br>

<%= form_for @cohort do |f| %>
	<p>
		<div id="login_form"><%= f.text_field :name, :placeholder => "Cohort Name" %></div>
	</p>

	<p>
		<div id="login_form"><%= f.text_field :email, :placeholder => "Cohort Email" %></div>
	</p>

	<p>
		<%= f.submit "Add Cohort", class: "btn btn-info" %>
	</p>
<% end %>
