<h1>Make a new cohort</h1>

<%= form_for @cohort do |f| %>
	<p>
		<%= f.text_field :name, :placeholder => "Cohort Name" %><br>
	</p>

	<p>
		<%= f.text_field :email, :placeholder => "Cohort Email" %><br>
	</p>

	<p>
		<%= f.submit "Add Cohort" %>
	</p>
<% end %>