<h1> <%= @cohort.name %></h1>

<h4>Students</h4>

<div id="student_list">
  <ul>
    <% @cohort.students.each do |student|%>
      <li>
        <div class="student-box">
          <%= link_to image_tag("#{student.photo.photo_url}", data: { student_id: student.id }), student_path(student), alt: "#{student.name}"%>
        </div>
      </li>
    <% end %>
  </ul>
</div>

<div id="group_list">
  <% 4.times do |i|%>
    <div id="label_name">
    Group List <%= i+1 %>
  </div>
    <ul>
        <div class="group-box">
        </div>
    </ul>
  <% end %>
   <%=submit_tag "Create New Group", id: "group_creation", class: "#{@cohort.id}" %>
</div>

