<h1> <%= @cohort.name %></h1>

<h4>Students</h4>

<div id="student_list">
  <%= render "remaining_students_list" %>
</div>

<div id="group_list">
  <% 6.times do |i|%>
    <div id="label_name">
    Group List <%= i+1 %>
  </div>
    <ul>
          <div class="group-box">
          </div>
    </ul>
  <% end %>
   <%=submit_tag "Create New Group", id: "group_creation", class: "#{@cohort.id} btn-lg btn-info" %>
</div>


