<ul>
    <% @students.each do |student|%>
      <li>
        <div class="student-box">
          <%= link_to image_tag("#{student.photo.photo_url}", data: { student_id: student.id }, :class => "other-shit"), student_path(student), alt: "#{student.name}", :class => "#{student.id}"%>
        </div>
      </li>
    <% end %>
</ul>
