<h1><%= @cohort.name %></h1>
<br>
<% week = 0 %>
<% @cohort.groups.each_with_index do |group, index| %>
	<% if group.week_number > week%>
		<h3> Week: <%= group.week_number %> </h3>
		<% week = group.week_number %>

	<% end %>
	<% group.students.each do |student| %>
		 <%= student.name %><%= "," unless group.students.last == student %>
	<% end %>
	<br>
<% end %>
