// Place all the styles related to the Cohorts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


ul{
  display:inline-block;
  list-style-type: none;
}

li{
  display: inline-block;
}

.student-box{
  display: inline-block;
}

.group-box{
  display: inline-block;
  min-height: 75px;
  min-width: 375px;
  border: solid;
}

#student_list{
  width: 30%;
  float: left;
}

#group_list{
 width:40%;
 float: left;
}

#label_name {
  display:inline-block;
}

img {

  height: auto;
  overflow: hidden;
}

.cohort-images {
  margin-left: 20%;
  margin-right: 10%;

}


.cohort-image {
  width: 30%;
  height: auto;
  float: left;
  -webkit-transition: all 1s ease;
     -moz-transition: all 1s ease;
       -o-transition: all 1s ease;
      -ms-transition: all 1s ease;
          transition: all 1s ease;
}

.cohort-image:hover {
  -webkit-filter: grayscale(100%);
}

.damn-sizes {
  height: 270px;
}
