// Place all the styles related to the Groups controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.other-shit {
	border: 5px solid white;
	border-radius: 5px;
	-webkit-filter: grayscale(100%)
}

.other-shit {
  -webkit-transition: all 1s ease;
     -moz-transition: all 1s ease;
       -o-transition: all 1s ease;
      -ms-transition: all 1s ease;
          transition: all 1s ease;
}

.other-shit:hover {
  -webkit-filter: grayscale(0%);
}

.group-box img {
	-webkit-filter: grayscale(0%);
}
